body {
    font-family: "Figtree", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    margin: 0px;
    padding: 0px 50px;
    color: #000;
}

.container {
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header .nav {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;

}


header .nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    

}

header .nav ul li{
 font-size: 15px;
 text-transform: uppercase;
}

header .nav ul{
    position: relative;
}

header .nav ul ul.sub {
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: black;
    position: absolute;
    width: 150px;
    padding-left: 16px;
    opacity: 0;
    visibility: hidden;
    top: 100px;
    transition: all 0.2s ease-in-out;
}

header .nav ul div.mega-dropdown-menu {
    display: flex;
    position: absolute;
    right: -107px;
    width: 100vw;
    background-color: #000;
    color: white;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 0;
    visibility: hidden;
    top: 100px;
    transition: all 0.2s ease-in-out;
}
header .nav ul div.mega-dropdown-menu ul.dropdown-menu {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-top: 17px;
}

header .nav ul div.mega-dropdown-menu p {
    max-width: 500px;
}

header .nav ul ul.sub li {
    display: flex;
    color: #fff;
    padding: 4px;
    margin-top: 5px;
}


li.has-children:hover ul.sub, li.has-children:hover div.mega-dropdown-menu  {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-out;
    top: 20px;
}


header .nav .search{
    border-left: 1px solid #000;
    padding-left: 20px;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;

  }

  .info_display {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
  }

  .info_display h1{
    font-family: "Figtree", sans-serif;
    font-size: 3em;
    margin-top: -4px;
  }

  .header-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .page-content p{
    max-width: 500px;
    text-align: justify;
    margin-top: 50px;
    line-height: 2em;
  }

  .page-content p:nth-child(1):first-letter {
	float: left;
	font-size: 7rem;
	line-height: 1;
	margin-right: 0.5rem;
}

.page-content span{
    max-width: 700px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "Prata", serif;
    font-size: 1.3em;
    line-height: 2em;
  }



@media (max-width: 480px) { 

 }