body {
    font-family: "Figtree", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    margin: 0px;
    padding: 0px 50px;
    color: #000;
}

.container {
    display: flex;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header .nav {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;

}


header .nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    

}

header .nav ul li{
 font-size: 15px;
 text-transform: uppercase;
}

header .nav .search{
    border-left: 1px solid #000;
    padding-left: 20px;
}

h1 {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;

  }

  .info_display {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
  }

  .info_display h1{
    font-family: "Figtree", sans-serif;
    font-size: 3em;
  }



@media (max-width: 480px) { 

 }